/* Header.css */

/* .header {
    background-color: #f5ecc2; /* Background color of the header 
    color: #854901; 
    text-align: center;
    padding: 20px; 
  }
  
  .project-name {
    font-family:	'Brush Script MT'; 
    font-size: 50px; 
    letter-spacing: 2px; 
   
  }
   */
   /* TopBar.css */

.header {
             
  display: flex; /* Make the header a flex container */
  flex-direction: column; /* Stack child elements vertically */
  justify-content: space-between; /* Align items vertically at the end (bottom) */
  /* min-height: 100vh;           */
  background-image: url('/images/img9.jpg'); 
  /*background-image: url('https://th.bing.com/th/id/OIP.vPCVJUYNHdM6k2QT3VxzbQHaEH?pid=ImgDet&rs=1');  Replace 'your-image-path.jpg' with the actual path to your image */
  background-size: 1550px;
  height: 400px; /* Adjust background size to cover the entire header */
  background-repeat: no-repeat; /* Prevent the background image from repeating */
  background-position: Center -210px;/*   the background image horizontally and vertically */
 /* color: #df6767;  Text color */
  /* text-align: center; */
  padding: px;  /*Add padding as needed */
}

.project-name {
  font-family: 'Brush Script MT'; /* Replace 'Your-Stylish-Font' with the actual font you want to use */
  font-size: 50px; /* Adjust the font size as needed */
  letter-spacing: 2px; /* Adjust letter spacing as needed */
  /* Add more styling such as text shadow, gradients, etc. */
}
